.button {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $basic-white;
  padding: 30px 40px;
  background-color: $basic-orange;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
  border: none;
  letter-spacing: 2px;

  &:hover {
    cursor: pointer;
    background-color: $bright-orange;
  }

  @media (max-width: $desktop-width) {
    padding: 19px 15px;
    width: 250px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
}
