.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1332px;
  margin: 0 auto;
  padding: 0 74px 0 90px;

  @media (max-width: $desktop-width) {
    justify-content: space-between;
    padding: 0 80px 0 82px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 15px;
  }
}

.countries__item {
  position: relative;
  margin-bottom: 101px;
  margin-left: 4%;
  width: 30%;
  height: auto;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(3n+1):not(:first-child) {
    margin: 0 0 0 15%;
    margin-bottom: 0;
  }

  &:last-child {
    margin: 0;
    margin-right: 15%;
  }

  @media (max-width: $desktop-width) {
    width: 48%;
    margin: 0;
    margin-bottom: 18px;

    &:last-child {
      margin: 14px auto 0;
    }

    &:nth-child(3n+1):not(:first-child) {
      margin: 0;
      margin-bottom: 18px;
    }
  }

  @media (max-width: $tablet-width) {
    width: auto;
    margin: 0 auto 35px;

    &:nth-child(3n+1):not(:first-child) {
      margin: 0 auto 35px;
    }

    &:first-child {
      margin: 0 auto 35px;
    }

    &:last-child {
      margin-top: 0;
    }
  }
}

.countries__link {
  display: block;
  position: relative;

  &:hover {
    .countries__hover {
      width: 100%;
      height: 100%;
    }
  }
}

.countries__img {
  display: block;
  width: 100%;
  height: auto;

  @media (max-width: $desktop-width) {
    width: 288px;
    height: 425px;
  }
}

.countries__text {
  position: absolute;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 29px;
  color: $basic-light-dark;
  background-color: $basic-white;
  width: 62.4%;
  text-align: center;
  padding: 17px 15px;
  bottom: 0;
  left: 50%;
  margin-left: -31%;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    width: 74.4%;
    margin-left: -38%;
  }
}

.countries__hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: rgba($basic-dark, 0.6);
  display: flex;
  align-items: center;
}

.countries__button {
  justify-content: center;
  margin: 0 auto 37px;
  width: 87.7887%;
  min-height: 77px;
  border: 1px solid rgba($basic-white, 0.7);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  background: 0 0;
  text-transform: uppercase;
  color: $basic-white;
  display: flex;
  align-items: center;
}
