.places {
  padding-top: 199px;
  padding-bottom: 97px;

  @media (max-width: $desktop-width) {
    padding-top: 80px;
    padding-bottom: 97px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 108px;
    padding-bottom: 40px;
  }
}

.places__title {
  margin: 0;
  padding-bottom: 64px;
  width: 358px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  color: $basic-light-dark;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 229px;
    background-color: $basic-orange;
    left: 0;
    bottom: 30px;
  }

  @media (max-width: $desktop-width) {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    width: auto;
    text-align: center;
    padding-bottom: 20px;

    &::after {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
}

.places__text {
  margin-top: 0;
  margin-bottom: 56px;
  width: 358px;

  @media (max-width: $desktop-width) {
    font-size: 16px;
    line-height: 28px;
    width: 343px;
    text-align: center;
    margin: 0 auto 40px;
  }

  @media (max-width: $tablet-width) {
    width: auto;
    margin-bottom: 20px;
  }
}

.places__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
