.promo {
  background-color: #3e75be;
  background-image: url("/img/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 185px;
  padding-bottom: 296px;
  color: $basic-white;
}

.promo__inner {
  width: 412px;
  margin-left: auto;
  margin-right: 18.9%;
}

.promo__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  color: $basic-white;
  margin-top: 0;
  margin-bottom: 30px;
}

.promo__text {
  font-size: 16px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 40px;
}

.promo__button {
  position: relative;
  width: 340px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 31px;
    right: 40px;
    width: 14px;
    height: 14px;
    background-image: url("/img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
