.site-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $basic-white;
    padding-top: 82px;
    padding-bottom: 284px;
  }
}

.site-list__list_invisible {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.site-list__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 57px;
  }

  @media (max-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.site-list__item_phone {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.site-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $basic-dark;
  text-decoration: none;
  padding: 40px 0 36px;
  display: block;

  @media (max-width: $desktop-width) {
    padding: 17px 35px 17px 16px;
    background-color: $basic-light;
    position: relative;
    color: $basic-gray;
    font-weight: 600;
    font-size: 20px;

    &::after {
      content: "";
      top: 17px;
      right: 16px;
      position: absolute;
      background-image: url("/img/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 12px;
      height: 15px;
    }
  }

  &:hover {
    color: $basic-orange;
  }
}
