.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.site-list__item {
  margin-right: 40px;
}

.site-list__item_phone {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.site-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $basic-dark;
  text-decoration: none;
  padding: 40px 0;
  display: inline-block;
}
