.tabs {
  margin-bottom: 80px;
}

.tabs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  border-bottom: 1px solid rgba($basic-light-dark, 0.3);
  max-width: 900px;

  @media (max-width: $desktop-width) {
    flex-wrap: nowrap;
    scroll-behavior: auto;
    overflow-x: auto;
  }
}

.tabs__item {
  padding-bottom: 15px;
  padding-left: 40px;

  &:first-child {
    padding-left: 0;
  }

  @media (max-width: $desktop-width) {
    padding-left: 99px;
  }
}

.tabs__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: rgba($basic-light-dark, 0.3);
}

.tabs__link_active {
  color: $basic-orange;
}
