*,
*::before,
*::after {
  box-sizing: border-box;
}

.container-image {
  background-image: url("/img/world.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 32%;

  @media (max-width: $desktop-width) {
    background-image: none;
  }
}
