*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 61%;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    width: 95%;
    max-width: 1023px;
  }

  @media (max-width: $tablet-width) {
    width: 90%;
    max-width: 767px;
  }
}
